body {
    background-color: grey;
    font-size: 2em;
    margin-left: 500px;
    
}

.grid {
    display: grid;
    grid-template-rows: auto auto;
}


h1 {
    color: green;
}

#head {
    margin-top: -3rem;
}


.head {
    text-align: center;
    background-color: beige;
    border-radius: 2rem;
    box-shadow:inset;
    width: 50vw;
}

h2 {
    background-color:azure;
    height: 4rem;
    margin-top: -1rem;
    border-bottom: 1rem;
    border-top: 5rem;
}

.forum {
    text-align: center;
    background-color: beige;
    border-top: 2rem;
    box-shadow:inset;
    width: 50vw;
    margin-top: 2rem;
    border-radius: 2rem;
}

#Entertainment {
    background-color: azure;
}

#News {
    background-color:azure;
    border-top: 3rem;
    border-radius: 3rem;
    width: 50vw;
}

nav {
    list-style-type: none;
    background-color: beige;
    border-top: 2rem;
    box-shadow:inset;
    width: 50vw;
    margin-top: 2rem;
    border-radius: 2rem;
    margin-top: -3.5rem;
}